<link rel="stylesheet" href="../css/about.css" />
<div class="about">
  <div class="img-about">
    <img src="../assets/alusivo1.jpg" alt="codigo" srcset="" />
  </div>
  <div class="section-about">
    <section class="txt-about">
      <h1>Sobre nosotros<br /><i class="bi bi-dash-lg"></i></h1>
      <p>
        Somos una empresa que se especializa en darle una mejor visión a futuro
        de los negocios dentro de las nuevas tecnologías como la Internet, a
        través de páginas web con contenido en texto, sonido, vídeo, programas,
        enlaces, imágenes, hipervínculos y muchas otras cosas, que permite
        maximizar el marketing, ventas que funcionan por medio de un carrito de
        compras (e-commerce) y todo aquello que mejore la visualización de tu
        nuevo negocio.
      </p>
    </section>
    <section class="txt-about">
      <h1>Misión<br /><i class="bi bi-dash-lg"></i></h1>
      <p>
        Brindar un servicio de innovación para el crecimiento de sus propios
        negocios, empresas o vida personal de nuestros clientes qué quieran
        darse a conocer a través de Internet.
      </p>
    </section>
    <section class="txt-about">
      <h1>Visión<br /><i class="bi bi-dash-lg"></i></h1>
      <p>
        Nos visualizamos siendo una de las mejores empresas que brinde el
        servicio en torno a compartir ideas, pensamientos y hasta otros
        servicios que sean deseables para cualquier usuario.
      </p>
    </section>
  </div>
</div>
